<template>
    <div>
        <div class="row mt-3">
            <div class="col text-center">
                直近
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-1 col-lg-2 col-3">
                <div class="number text-center m-1 font-weight-bold h1 text-primary">
                    {{ last_number }}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
               過去
            </div>
        </div>
        <div class="row no-gutters">
            <div v-for="number in past_numbers" class="col-xl-1 col-lg-2 col-3">
                <div class="number text-center m-1 font-weight-bold h1 text-secondary">
                    {{ number }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NumberComponent",
        props: {
            last_number: Number,
            past_numbers: Array
        },
    }
</script>

<style scoped>
    .number {
        background-color: #ffffff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    }
</style>
