<template>
    <div class="row no-gutters mt-3 title-block">
        <div class="col-auto title-img">
            <img src="/img/dance_yorokobi_mai_woman.png">
        </div>
        <div class="col">
            <div class="title-marino text-center">
                MARINO
            </div>
            <div class="title-bingo text-center">
                <span>B</span>
                <span>I</span>
                <span>N</span>
                <span>G</span>
                <span>O</span>
                <span>!</span>
            </div>
        </div>
        <div class="col-auto title-img">
            <img src="/img/dance_yorokobi_mai_man.png">
        </div>
    </div>
</template>

<script>
    export default {
        name: "TitleComponent"
    }
</script>

<style scoped>
    .title-block div {
        line-height: 1;
    }
    .title-marino {
        font-size: 10px;
        font-weight: bold;
        color: gray;
    }
    .title-img img {
        height: 40px;
        margin: 0 5px;
    }
    .title-bingo {
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        font-style: italic;
        -webkit-text-stroke: 2px #000;
    }
    .title-bingo span:nth-child(1) {
        color: #e3342f;
    }
    .title-bingo span:nth-child(2) {
        color: #ffe817;
    }
    .title-bingo span:nth-child(3) {
        color: #f6993f;
    }
    .title-bingo span:nth-child(4) {
        color: #b0d4f1;
    }
    .title-bingo span:nth-child(5) {
        color: #4169E1;
    }
    .title-bingo span:nth-child(6) {
        color: #ffffff;
    }
</style>
