<template>
    <div class="row justify-content-center mt-3 mb-2">
        <div class="col-xl-2 col-lg-3 col-6 input-group input-group-lg">
            <input type="tel" title="Number" class="form-control" v-model="number">
            <div class="input-group-append">
                <button v-on:click="sendNumber" type="button" class="btn btn-outline-primary" id="number-submit">
                    送信
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputNumberComponent",
        data: function () {
            return {
                number: null,
            }
        },
        methods: {
            sendNumber: function () {
                axios.post("/api/numbers", {
                    number: this.number
                }).then(function (res) {
                    console.log(res);
                }).catch(function (err) {
                    console.log(err);
                });
                this.number = null;
            }
        }
    }
</script>

<style scoped>

</style>
