<template>
    <div>
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-1 col-lg-2 col-3">
                <number-component :number="last_number"></number-component>
            </div>
        </div>
        <div class="row no-gutters">
            <div v-for="number in past_numbers" class="col-xl-1 col-lg-2 col-3">
                <number-component :number="number"></number-component>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ToolNumbersComponent",
        props: {
            last_number: Object,
            past_numbers: Array
        },
    }
</script>

<style scoped>

</style>
